h1{
    display: none;
}
.fundoVermelho{
    background-color: red;
}
#textoPrincipal{
    font-size: 40px;
    font-weight: bold;
    background-color: gray;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.negrito{
    font-weight: bolder;
}
